* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  background: #090E16;
}

.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  position: relative;
  z-index: 100;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.menu__link {
  display: inline-block;
  margin-right: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: normal;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.burger-menu {
  display: none;
}

.burger-menu.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
  background: #fff;
}

.burger-menu.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 8px;
  background: #fff;
}

.burger-menu.active span {
  opacity: 0;
}

.header {
  padding: 30px 0;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #090E16;
  -webkit-transition: right 0.5s ease 0s;
  transition: right 0.5s ease 0s;
  z-index: 105;
}

.header.menu-open::after {
  right: 0;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
  left: 0;
  padding: 0;
}

.header._header-show {
  top: 0;
  -webkit-transition: top 0.5s ease 0s;
  transition: top 0.5s ease 0s;
}

.header__container {
  border-radius: 16px;
  background: #0F1120;
}

.header__body {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 222;
}

.header__menu {
  margin-left: auto;
}

.header__button {
  border-radius: 16px;
  background: rgba(123, 74, 226, 0.1);
  padding: 15px 25px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 1px solid rgba(123, 74, 226, 0.5);
  position: relative;
  z-index: 222;
}

.main {
  padding-top: 200px;
  padding-bottom: 100px;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.main__top {
  border-radius: 16px;
  background: rgba(123, 74, 226, 0.1);
  padding: 15px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7B4AE2;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.main__title {
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.main__sub-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  line-height: normal;
}

.main__image {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  max-width: 500px;
}

.main__image img {
  max-width: 100%;
}

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  gap: 20px;
}

.main__mail {
  color: rgba(123, 74, 226, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(123, 74, 226, 0.5);
  max-width: 300px;
  width: 100%;
  padding: 10px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.main__mail path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}

.main__mail svg {
  margin-right: 5px;
}

.main__tel {
  color: rgba(123, 74, 226, 0.5);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(123, 74, 226, 0.5);
  max-width: 300px;
  width: 100%;
  padding: 10px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.main__tel path {
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}

.main__tel svg {
  margin-right: 5px;
}

.about {
  padding: 100px 0;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__image {
  max-width: 500px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 50px;
}

.about__image img {
  max-width: 100%;
}

.about__title {
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 25px;
}

.about__item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  line-height: 138.889%;
}

.about__item:not(:last-child) {
  margin-bottom: 10px;
}

.reviews {
  padding-bottom: 100px;
  padding-top: 100px;
}

.reviews__title {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 100px;
}

.reviews__slider {
  padding-bottom: 70px;
}

.reviews__slide {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.reviews__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.reviews__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

.reviews__image img {
  max-width: 100%;
}

.reviews__name {
  color: #FFF;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.reviews__work {
  color: #E40037;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.65px;
  text-transform: capitalize;
}

.reviews__text {
  color: #FFF;
  font-size: 14px;
  line-height: 157.143%;
  letter-spacing: 0.77px;
  text-transform: capitalize;
  padding: 10px;
}

.reviews .swiper-pagination-bullet {
  background-color: #D9D9D9;
  width: 10px;
  height: 10px;
  margin: 0 5px !important;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  opacity: 1;
}

.reviews .swiper-pagination-bullet-active {
  background-color: #E40037;
}

@media (max-width: 991.98px) {
  .menu__link {
    font-size: 16px;
    margin-right: 40px;
  }

  .header__button {
    padding: 10px 20px;
    font-size: 15px;
  }

  .main {
    padding-top: 150px;
    padding-bottom: 50px;
  }

  .main__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .main__top {
    padding: 10px 15px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .main__title {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .main__sub-title {
    font-size: 18px;
  }

  .main__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .main__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__mail {
    font-size: 15px;
    max-width: 280px;
    padding: 8px;
  }

  .main__tel {
    font-size: 15px;
    max-width: 280px;
    padding: 8px;
  }

  .about {
    padding: 50px 0;
  }

  .about__title {
    font-size: 43px;
    margin-bottom: 20px;
  }

  .about__item {
    font-size: 17px;
  }

  .reviews {
    padding: 50px 0;
  }

  .reviews__title {
    font-size: 43px;
    margin-bottom: 50px;
  }

  .reviews__slider {
    padding-bottom: 50px;
  }

  .reviews__image {
    width: 60px;
    height: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin-right: 10px;
  }

  .reviews__name {
    font-size: 22px;
  }

  .reviews__work {
    font-size: 12px;
  }

  .reviews__text {
    font-size: 13px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    overflow: auto;
    background: #32245F;
    position: fixed;
    right: -100%;
    top: 0;
    height: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 110px 20px 20px;
    text-align: center;
    -webkit-transition: right 0.5s ease;
    transition: right 0.5s ease;
  }

  .menu.active {
    right: 0;
  }

  .menu__list {
    display: block;
  }

  .burger-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 200;
  }

  .burger-menu::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 20px;
  }

  .burger-menu::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #fff;
    border-radius: 20px;
  }

  .burger-menu span {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 4px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 25px;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header {
    padding: 0;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .main {
    padding-bottom: 30px;
    padding-top: 130px;
  }

  .main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .main__top {
    font-size: 16px;
    margin: 0px auto;
    display: block;
    max-width: 260px;
    border-radius: 10px;
  }

  .main__title {
    font-size: 35px;
    text-align: center;
  }

  .main__title br {
    display: none;
  }

  .main__sub-title {
    font-size: 16px;
    text-align: center;
  }

  .main__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    max-width: 300px;
    margin: 0px auto;
  }

  .main__mail {
    font-size: 14px;
    padding: 5px;
    max-width: 250px;
  }

  .main__mail svg {
    width: 25px;
  }

  .main__tel {
    font-size: 14px;
    padding: 5px;
    max-width: 250px;
  }

  .main__tel svg {
    width: 25px;
  }

  .about {
    padding: 30px 0;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .about__image {
    max-width: 300px;
    margin: 0px auto;
    padding: 0 10px;
  }

  .about__content {
    width: 100%;
    margin-bottom: 50px;
  }

  .about__title {
    font-size: 33px;
    text-align: center;
  }

  .about__item {
    font-size: 16px;
  }

  .reviews {
    padding: 30px 0;
  }

  .reviews__title {
    font-size: 33px;
    text-align: center;
    margin-bottom: 30px;
  }

  .reviews__slider {
    padding-bottom: 40px;
  }

  .reviews__slide {
    padding: 10px;
  }

  .reviews__name {
    font-size: 20px;
  }

  .reviews__text {
    padding: 5px;
  }
}

@media (max-width: 550px) {
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: rgba(123, 74, 226, 0.5);
  }

  .header__button:hover {
    background: rgba(123, 74, 226, 0.5);
  }

  .main__mail:hover {
    color: #fff;
  }

  .main__mail:hover path {
    stroke: #fff;
  }

  .main__tel:hover {
    color: #fff;
  }

  .main__tel:hover path {
    stroke: #fff;
  }
}